<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-4.0.xsd">
   <!--spring 3xx version doesnt support java8..only it support java 7.....so error is popup give a error'
   error msg org.springframework.core.NestedIOException: ASM ClassReader failed to 
   parse class file - probably due to a new Java class file version that isn't supported yet
   
   
   spring 4 support with java 8 
   
   -->
	<context:annotation-config />
	<context:component-scan base-package="com.janani" />
	<context:property-placeholder location="application.properties" />
</beans>